body{
    margin: 0;
  /* background: linear-gradient(rgb(77, 77, 119), rgb(135, 135, 218) , rgb(214, 214, 247));*/
  background-image: url(imagenes/subtle-prism.svg);
  background-size: cover;
   font-family: 'Open Sans', sans-serif;
   height:100vh;
   
}
.encabezado{
    margin: 1% 0 1% 0;
    padding: 0 2%;
    
}
.encabezado>label{
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 3rem;
    color:#191935;
    text-shadow: #191935;
}
.container-principal{
    height: 70vh;
    display: flex;
    column-gap: 1em;
}
.box1{
    padding: 2em;
}
.box1, .box2{
    width: 50%;
    height: 100%;
}
.box2, .container2{
    display: grid;
    place-items:unset;
}
.main{
    max-width: 400px;
    height: 380px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input{
    width: 100%;
    height: 300px;
    padding: 1.5em;
}


.container2{
    width: 300px;
    height: 450px;
}
.container2 img{
    width: 90%;
}
.output-message{
    background-color: transparent;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    font-size: 22px;
    font-weight: 400;
    font-style:normal;
    width: 500px;
    height: 500px; 
    padding: 10% 0 0 5%;
}

.input-mensaje{
    border-style:1px;
    border-top: 1px solid #669999;
    border-left: 1px solid #669999;
    border-radius: 10px;
    background:#F3F5FC;
    font-style:normal;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    padding: 20px;   
}

::placeholder{
    color: #0A3871;
    font-size: 1rem;
}

.buttons input{
    width: 150px;
    font-size:1rem;
    padding: 1em 0;
    background: #0d7785;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin: 0.5em auto;

}
.image-position{
    position: absolute;
    max-width: 400px;
    max-height: 300px;
    top: 35%;
    left: 55%;

}
.align-center{
    width: 100%;
    text-align: center;   
}
.bottom-style-copy{
    margin-top: 0.5em;
    width: 150px;
    font-size:1rem;
    padding: 1em 0;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
}

input:disabled,
input[disabled]{
    color: #666666;
    border: 1px solid #999999;
    background-color: #cccccc;
}
.container-footer{
    width: 100%;
    height: 20%;
}
footer{
    text-align:center;
    margin-left: 0;
     width: 100%;
     padding-top: 4%;
     padding-bottom: 1%;
     background-image: url(imagenes/ola.svg);  
     background-size: cover;
}

@media screen and (max-width:1000px){

 .container-principal{
    display: grid;
    text-align: center;
 }
 .box1 , .box2{
    width: 100%;
    padding: 1em;
    height: auto;
    
 }
 .main{
    justify-content: center;
 }
 .buttons{
    text-align: center;
 }
 .buttons input{
    display: block;
 }
.box2{
    width: 100%;
    text-align: center;
}
.box2, .container2{
    margin: auto;
    

}
.input{
    height: 100px;
}
.output-message{
    width: 300px;
    height: 200px;
    
}
.image-position{
    top: 65%;
    left: 35%;
    max-width: 200px;
    max-height: 200px;
}
    
}
   
    
    



